# Node.js (Backend)
Backend/node_modules/
Backend/.env
Backend/logs/
Backend/*.log
Backend/npm-debug.log*
Backend/.env
!Backend/.env.example

# React (Frontend)
Frontend/node_modules/
Frontend/build/
Frontend/dist/
Frontend/.env
Frontend/.DS_Store
Frontend/.env
!Frontend/.env.example

# General system files
*.log
.DS_Store
.env
.env.local
.env.development
.env.production
.vscode/
.idea/

# Optional: lockfiles (если используешь только yarn или только npm)
package-lock.json
yarn.lock